* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colors: (
  primary: rgb(228, 232, 241),
  primary-light: lighten(rgb(228, 232, 241), 5%),
  primary-dark: darken(rgb(228, 232, 241), 5%),
  secondary: #444,

  accent: rgb(218, 121, 2),

  danger: red,
);

$fonts: (
  primary: ('Open Sans', sans-serif),
);

$transitions: (
  primary: 0.3s ease
);

$shadows: (
  primary: (rgba(149, 157, 165, 0.2) 0px 8px 24px),
  secondary: (rgba(0, 0, 0, 0.36) 0px 1px 4px)
);

$radiuses: (
  primary: 6px
);

@function getColor($color) {
  @return map-get($colors, $color) 
};

@function getTransition($transition) {
  @return map-get($transitions, $transition) 
};

@function getFont($font) {
  @return map-get($fonts, $font)
};

@function getRadius($radius) {
  @return map-get($radiuses, $radius)
};

@function getShadow($shadow) {
  @return map-get($shadows, $shadow)
};

body {
  font-family: getFont(primary);
  font-size: 1em;
  color: getColor(secondary);
}

button, input {
  font-family: inherit;
  background-color: inherit;
  color: inherit;
  border: none;
  font-size: inherit;
}

button {
  cursor: pointer;
}

%fade-in {
  visibility: visible;
  opacity: 1;
}

%fade-out {
  transition: getTransition(primary);
  visibility: hidden;
  opacity: 0;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  } to {
    opacity: 1;
    visibility: visible;
  }
}

.wrapper{
  background-color: getColor(primary-dark);
  min-height: 100vh;
  width: calc(100vw - 66px);
  margin-left: auto;
}