@import '../../index.scss';

.btn-action {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border: 2px solid getColor(primary-dark);
  background-color: getColor(primary-light);
  border-radius: getRadius(primary);
  display: flex;
  transition: getTransition(primary);

  &__icon {
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
  }

  & > * {
    transition: getTransition(primary);
  }

  &:hover {
    & > * {
      color: getColor(accent);
    }
  }

  &:focus {
    border-color: getColor(accent);
  }
}